@model ProjetWeb3Bourse.Models.Bourse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bourse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.variation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.variation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br> <br>
<h3>Evenements</h3>
<div>
    <a asp-controller="Evenements" asp-action="Create" asp-route-id="@Model?.id">Create</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Heure</th>
            <th>Valeur</th>
            <th>Variation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evenement in Model.Evenements) {
            <tr>
                <td>@evenement.date</td>
                <td>@evenement.heure</td>
                <td>@evenement.valeur</td>
                <td>@evenement.variation</td>
            </tr>
        }
    </tbody>
</table>
